.terrain-card-container
{
   text-align: left;
    display: flex;
    justify-content : center;
    flex-wrap : warp;
    margin:0 15px 0 15px;
}
.terrain-card-container .button {
    padding: 10px;
    width: 150px;
    text-decoration: none;
     margin: 10px;
    font-weight: 700;
  }

  .terrain-card-container .buttons {
    display: flex;
    justify-content: space-around;
  }
  .terrain-card-container .edit-button {
    padding: 10px;
    width: 200px;
    border-radius: 40px;
    text-decoration: none;
     margin: 10px;
    font-weight: 700;
  }
 .card-header {
    padding: 0 !important;
    margin-bottom: 0;
    
}


.first-section span {
text-align: center;

}
 .terrain-carac
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
 width: 75%;

}
 .terrain-carac p 
{
    color:black;
    text-align: left;

}
.terrain-card-container img 
{
  
    height: 200px;
}
 .terr-card
{
    border:none ;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 50px;
}
 .terr-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.terrain-card-container span {
     color:black;
    font-size: 15px;
}